# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Logs
*.log

# IDE
.vscode/
.idea/
